 .ani{
     position: inherit;
    /* transition: left 0.5s ease-out;
    left:-1000px;  */
    animation: hide;
    animation-fill-mode:forwards;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
   
}
@keyframes hide{
    from{
        left:0px;
        max-width: 100%;
    }
    to{
        max-width: 0%;
        left: -1000px;
    }
}

