.page-wrapper{
    display: grid;
    grid-template-rows: 200px auto;
}

.control-container{
    /* border:1px solid; */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}