.modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(126, 126, 126, 0.6);
    width:100%;
    height: 100%;
   text-align: center;
    /* filter:blur(1px); */
    z-index: 10;
 
}


 


.box-wrapper{
    /* border:1px solid; */
    /* display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px; */
    padding: 10px;
    margin: 10px;
}
.walkin{
    width:90%;
    margin: 0 auto;
    text-align: center;
}

.spot{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border:1px solid black;
    margin:0.9px;
}
.acupate{
    background-color: blue;
}

 button{
    font-size: 1.2rem;
    color:white; 
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.grid{
    max-width:100%;
    margin: 0 10px;
    display: grid;
    grid-template-columns: 0.80fr  0.5fr  0.5fr 2fr 0.80fr;
    grid-template-rows: minmax(100px,240px)minmax(100px,300px) minmax(60px,150px);
    gap: 2px;
}
.grid-item{
   border:2px solid;
  
}
.central{
   
    grid-column-start: 2;
    grid-column-end: 5;
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 1fr;   
}
.front-left{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: -5;
    grid-column-end: -4;

}

.front-right{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: -3;
    grid-column-end: -2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4,1fr)
}

.side-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
}

.side-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: "right";
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  
}

.info{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}


