.App {
  text-align: center;  

}
.action{
  color: #ea4c89;
}
.active{
  border-left: 6px solid #ea4c89;
}
.two-col-layout{
  display: grid;
  grid-template-columns: minmax(250px,300px) auto;
  position: relative;

}
.sidebar{
  height: 100vh;
  position: sticky;
  top: 0;
 
  /* border-right:0.4px solid lightgrey; */
  display: grid;
  grid-template-rows: 0% 10% 90%;
  background: #F9F8FD; 

 }
 .sidebar nav{
   padding: 40px 0;
   grid-row:3 / 4; 
 }
 .sidebar nav div{
  text-align: center;
 }
 .sidebar::before{
   content: "";
   display: block;
   width: 100%;
 }
 .sidebar > div:first-of-type{
   text-align: center;
   padding: 10px;
  
 }
.route-box{
  
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 80px minmax(calc(100vh - 80px),1fr); */
}
.navbar{
  /* grid-area: nav; */
  flex-basis: 80px;
   background-color:"red";
  border-bottom:0.1px solid rgba(240, 240, 240, 0.283);
   /* background: #F9F8FD;  */
  
  }

  /* form error display */
.errorShow{
  transition: all 1s ease-in-out;
  opacity: 1;
  background-color: transparent;
}
.errorHide{
  background-color: transparent;
  transition: all 1s ease-in-out;
  opacity: 0;
}

  /* form error display */