.App {
  text-align: center;  

}
.action{
  color: #ea4c89;
}
.active{
  /* border-left: 6px solid #ea4c89; */
  background-color: #ea4c89;
  color: #fff;
}
.two-col-layout{
  display: grid;
  /* grid-template-columns: minmax(250px,300px) auto; */
 grid-template-columns:20% 80%; 
  position: relative;

}

.wide-view{
  display: grid;
   /* grid-template-columns: 0% 100%;  */
   grid-template-columns:20% 80%; 
  position: relative;
  animation: grow;
  animation-fill-mode:forwards;
  animation-duration: 0.5s;
  animation-timing-function: ease;

}

@keyframes grow{
  0%{
    grid-template-columns:20% 80%; 
  }
  /* 10%{
    grid-template-columns:18% 82%; 
  }

  15%{
    grid-template-columns:16% 84%; 
  }
  25%{
    grid-template-columns:15% 85%; 
  }
  25%{
    grid-template-columns:13% 88%; 
  }
  50%{
    grid-template-columns:10% 90%; 
  }
  75%{
    grid-template-columns:7% 93%; 
  }
  85%{
    grid-template-columns:5% 95%; 
  }

  95%{
    grid-template-columns:3% 98%; 
  } */
  100%{
    grid-template-columns:0% 100%; 
  }
  /* to{
    grid-template-columns:0% 100%; 
  } */
}




.sidebar{
  height: 100vh;
  position: sticky;
  top: 0;
 
  /* border-right:0.4px solid lightgrey; */
  display: grid;
  grid-template-rows: 0% 10% 90%;
  background: #F9F8FD; 
  /* background: #ffffff;  */

 }
 .sidebar nav{
   padding: 40px 0 10px 0;
   grid-row:3 / 4; 
 
 }
 .sidebar nav div{
  text-align: center;
 }
 .sidebar::before{
   content: "";
   display: block;
   width: 100%;
 }
 .sidebar > div:first-of-type{
   text-align: center;
   padding: 10px;
  
 }

 /* box container for display side */
.route-box{
  /* border:1px solid; */
  /* width:100%; */
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 80px minmax(calc(100vh - 80px),1fr); */
}






.navbar{
  /* grid-area: nav; */
  flex-basis: 80px;
   background-color:"red";
  border-bottom:0.1px solid rgba(240, 240, 240, 0.283);
   /* background: #F9F8FD;  */
  
  }

  /* form error display */
.errorShow{
  transition: all 1s ease-in-out;
  opacity: 1;
  background-color: transparent;
}
.errorHide{
  background-color: transparent;
  transition: all 1s ease-in-out;
  opacity: 0;
}

  /* form error display */